<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client-panel.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bank Account Replenishment</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/create-bank-account.css" >

</head>
<body>
<div layout:fragment="content2">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">

            <h1 class="mt-4"> REPLENISHMENT</h1>
            <div class="alert alert-info">
                NOTE! You may perform replenishment only once per each bank account. Max sum is
               1000 UAH and 100 USD/EUR.
            </div>
    <form th:action="@{/transactions/transfer}" th:object="${transaction}" method="post">
<!--        <div class="mb-3">-->
            <div class="form-group">
<!--        <div>-->
            <label for="accountNumber" class="form-label">Account Number:</label>
            <select id="accountNumber" name="accountNumber" class="form-select" required>
                <option th:each="bankAccount : ${bankAccounts}" th:value="${bankAccount.getAccountNumber()} + ${bankAccount.getCurrency()} + ${bankAccount.getCurrentSum()}" th:text="${bankAccount.getAccountNumber()} + '   '+  ${bankAccount.getCurrency()} + '   ' + ${bankAccount.getCurrentSum()} + '   '"></option>
            </select>
<!--        </div>-->

        </div>
<!--        <div class="mb-3">-->
            <label for="amount" class="form-label">Amount:</label>
            <input type="number" id="amount" name="amount" class="form-control" required />
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary" th:disabled="${bankAccount.getCurrentSum() != 0}" data-bs-toggle="tooltip" data-bs-placement="top" th:title="${bankAccount.getCurrentSum() != 0 ? 'Account balance should be 0 to submit' : ''}">Submit</button>-->
<!--        <button type="submit" class="btn btn-primary" th:disabled="${bankAccount.currentSum != 0}" data-bs-toggle="tooltip" data-bs-placement="top" th:title="${bankAccount.currentSum != 0 ? 'Account balance should be 0 to submit' : ''}">Submit</button>-->

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div th:if="${errorMessage}" class="mt-4">
        <div class="alert alert-danger" role="alert">
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>