<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
     >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/client-dashboard.css" >
<!--    <link rel="stylesheet" href="/static/css/main-view/registration-login.css">-->


    <title>Manager registration form</title>

<body>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" th:href="@{/}"><img src="/static/image/logo.svg" alt="Logo"
                                                                                    width="50px"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" style="color: #105479">About us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: #105479">Benefits</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: #105479">Our values</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: #105479">Open Account</a>
    </li>
    <li class="nav-item manager-icon">
        <a class="nav-link" href="#" style="color: #105479" th:href="@{/manager/registration}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-person-vcard" viewBox="0 0 16 16">
                <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
            </svg>
        </a>
    </li>

</ul>
<nav class="navbar">
    <div class="container-fluid">
        <!--        <a class="navbar-brand" href="#"><img src="/static/image/logo.svg" alt="Logo" width="50px"></a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span><img src="/static/image/logo.svg" alt="Logo" width="50px"></span>
            <!--            class="navbar-toggler-icon"-->
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" th:href="@{/login}">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/home/registration}">SIGN IN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/home/registration}">OPEN BANK ACCOUNT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/login}">TRANSFER MONEY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/manager/registration}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-vcard" viewBox="0 0 16 16">
                                <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
                            </svg></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>

    <div class="col-md-6 offset-3 mt-3 registration__manager">
        <div th:if="${successRegistered}" class="alert alert-success">
            <span th:text="${successRegistered}"></span>
        </div>

        <form class="form-control" method="post" th:action="@{/manager/save}">
            <span>Manager registration form</span>
            <div class="mb-3 mt-3">
                <label for="firstName" class="form-label"> Manager First Name </label>
                <input id="firstName" type="text" name="firstName" class="form-control"
                       th:field="${manager.firstName}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="lastName" class="form-label"> Manager Last Name </label>
                <input id="lastName" type="text" name="lastName" class="form-control"
                       th:field="${manager.lastName}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="level" class="form-label"> Manager Level </label>
                <input id="level" type="text" name="level" class="form-control"
                       th:field="${manager.level}">
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label"> Email </label>
                <input id="email" type="email" name="email" class="form-control"
                       th:field="${manager.user.email}" required>
                <span th:if="${#fields.hasErrors('manager.user.email')}" th:errors="*{manager.user.email}" style="color: darkred"></span>
                <span th:if="${not #fields.hasErrors('manager.user.email') or not #strings.contains(manager.user.email,  @environment.getProperty('friendly.bank.domain'))}" style="color: darkred"></span>
            </div>
            <div class="mb-3 mt-3">
                <label for="password" class="form-label"> Password </label>
                <input id="password" type="password" name="password" class="form-control"
                       th:field="${manager.user.password}" required>
            </div>
            <button type="submit" class="btn btn-primary">Registration</button>

        </form>
    </div>

</body>
</html>